In [1]:
import numpy as np
import pandas as pd
import os
import dask

# Pandas Data Frame

* Provides a powerful and expressive data structure which is easy to use to manipulate data

## What are Data Frames

**Definition** - two-dimensional labeled data structures with columns of potentially different types.

1. A Data Frame can contain data that is:

*  `Pandas` DataFrame

* a `Pandas` Series: a one-dimensional labeled array capable of holding any data type with axis labels or index. An example of a Series object is one column from a DataFrame.

* a `NumPy` ndarray, which can be a record or structured

* a two-dimensional ndarray

* dictionaries of one-dimensional ndarrayâ€™s, lists, dictionaries or Series.

Structured arrays allow users to manipulate the data by named fields: in the example below, a structured array of three tuples is created.

In [2]:
# A structured array
my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))
print(my_array['foo'])
print(my_array['bar'])

[1 1 1]
[1. 1. 1.]

The first element of each tuple will be called `foo` and will be of type `int`, while the second element will be named `bar` and will be a `float`.

2. you can also specify the index and column names for your DataFrame.

**Essentially, `Pandas` allows you to make labels for your `Numpy` `array`**

## How to Create a Data Frame

* There are many things that can be used to create `Pandas` data frames of this `numpy` array is one

* make a data frame by putting your `data` into `DataFrame()`

In [3]:
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

In [4]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict))

   1  2  3
0  1  1  2
1  3  2  4

In [6]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

In [7]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
print(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [8]:
my_series['United Kingdom']

'London'

### Viewing your data frame

In [9]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

In [10]:
# Use the `shape` property
print(df.shape)

(2, 3)

In [11]:
# Or use the `len()` function with the `index` property
print(len(df.index))

2

You could also use `df[0].count()` to get to know more about the height of your DataFrame, but this will exclude the NaN values (if there are any).

In [12]:
df[0].count()

2

In [13]:
list(df.columns.values)

[0, 1, 2]

## How To Select an Index or Column From a Pandas DataFrame?

In [14]:
my_df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]], 
                     index=range(0,3), 
                     columns=['A','B','C'])

my_df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
# Using `iloc[]`
print(my_df.iloc[0][0])

1

In [16]:
# Using `loc[]`
print(my_df.loc[0]['A'])

1

In [17]:
# Using `at[]`
print(my_df.at[0,'A'])

1

In [18]:
# Using `iat[]`
print(my_df.iat[0,0])

1

* Use `iloc[]` to select a row
* Use `loc[]` to select a column

In [19]:
# Use `iloc[]` to select a row
print(my_df.iloc[0])

# Use `loc[]` to select a column
print(my_df.loc[:,'A'])

A    1
B    2
C    3
Name: 0, dtype: int64
0    1
1    4
2    7
Name: A, dtype: int64

## How to add an index, row, or column

* By default the index for a data frame is 0,1,...,n

In [20]:
# Print out your DataFrame `df` to check it out
print(my_df)

# Set 'C' as the index of your DataFrame
my_df.set_index('C')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B
C
3  1  2
6  4  5
9  7  8

#### Adding Rows to a DataFrame
* Before you can get to the solution, itâ€™s first a good idea to grasp the concept of `loc` and how it differs from other indexing attributes such as `.iloc[]` and `.ix[]`:

* `.loc[]` works on labels of your index. This means that if you give in `loc[2]`, you look for the values of your DataFrame that have an index labeled `2`.

* `.iloc[]` works on the positions in your index. This means that if you give in `iloc[2]`, you look for the values of your DataFrame that are at index `2`.

In [21]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])
print(df)

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

In [22]:
# Pass `2` to `loc` - label
print(df.loc[2])

48    1
49    2
50    3
Name: 2, dtype: int64

In [23]:
# Pass `2` to `iloc` - index
print(df.iloc[2])

48    7
49    8
50    9
Name: 4, dtype: int64

#### Replacing and Making Indexes

In [24]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2.5, 12.6, 4.8], columns=[48, 49, 50])
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9

In [25]:
# This will replace the second index with []
df.iloc[2] = [60, 50, 40]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40

In [26]:
# This will make an index labeled `2` and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

#### Adding a column to your dataframe

* Some times you might want to make an index a part of your dataframe. In these cases you can use `.index`

In [27]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
# Use `.index`
df['D'] = df.index

In [29]:
# Print `df`
print(df)

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

#### Resetting your index
* if your index does not look how you would like it you can reset it

In [30]:
df = pd.DataFrame(data=np.array([[1.5, 2.4, 3], [4, 5, 6], [7, 8, 9]]),
                  index= [2.5, 12.6, 4.8], columns=['A', 'B', 'C'])

# Check out the weird index of your dataframe
print(df)

        A    B    C
2.5   1.5  2.4  3.0
12.6  4.0  5.0  6.0
4.8   7.0  8.0  9.0

In [31]:
# Use `reset_index()` to reset the values
df_reset = df.reset_index(level=0, drop=True)

In [32]:
# Print `df_reset`
print(df_reset)

     A    B    C
0  1.5  2.4  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0

* If drop is false, it will save the index as a new column

In [33]:
df = pd.DataFrame(data=np.array([[1.5, 2.4, 3], [4, 5, 6], [7, 8, 9]]),index= [2.5, 12.6, 4.8], columns=['A', 'B', 'C'])

# Check out the weird index of your dataframe
print(df)

# Use `reset_index()` to reset the values
df_reset = df.reset_index(level=0, drop=False)

# Print `df_reset`
print(df_reset)

        A    B    C
2.5   1.5  2.4  3.0
12.6  4.0  5.0  6.0
4.8   7.0  8.0  9.0
   index    A    B    C
0    2.5  1.5  2.4  3.0
1   12.6  4.0  5.0  6.0
2    4.8  7.0  8.0  9.0

#### How to Delete Indices, Rows or Columns From a Pandas Data Frame

##### 1. Deleting an Index from Your DataFrame
  * If you want to remove the index from your DataFrame, you should reconsider because DataFrames and Series always have an index.

What you *can* do is, for example:
  * resetting the index of your DataFrame (go back to the previous section to see how it is done)
  * remove the index name, if there is any, by executing `del df.index.name`

In [34]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [40, 50, 60], [23, 35, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=[48, 49, 50])
print(df)

df.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8   40  50  60
2.5   23  35  37

       48  49  50
index
12.6    4   5   6
4.8    40  50  60
2.5    23  35  37

##### Deleting a Column from your DataFrame

To get rid of (a selection of) columns from your DataFrame, you can use the `drop()` method:
* The axis argument is either `0` when it indicates `rows` and `1` when it is used to drop `columns`.
* You can set inplace to True to delete the column without having to reassign the DataFrame.

In [35]:
df = pd.DataFrame(data=np.array([[1.5, 2.4, 3], [4, 5, 6], [7, 8, 9]]),
                  index= [2.5, 12.6, 4.8], columns=['A', 'B', 'C'])


# Check out the DataFrame `df`
print(df)

        A    B    C
2.5   1.5  2.4  3.0
12.6  4.0  5.0  6.0
4.8   7.0  8.0  9.0

In [36]:
# Drop the column with label 'A'                  
df.drop('A', axis=1, inplace=True)

print(df)

        B    C
2.5   2.4  3.0
12.6  5.0  6.0
4.8   8.0  9.0

In [37]:
# Drop the column at position 1
df.drop(df.columns[[1]], axis=1, inplace=True)

print(df)

        B
2.5   2.4
12.6  5.0
4.8   8.0

#### Deleting a Row from your DataFrame

* You can remove duplicate rows using `df.drop_duplicates()`

In [38]:
# Check out the DataFrame `df`
print(df)

# Drop the index at position 1
print(df.drop(df.index[1]))

        B
2.5   2.4
12.6  5.0
4.8   8.0
       B
2.5  2.4
4.8  8.0

## How to Rename the Index or a Column
* The best way is with the `.rename()` method

In [39]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])


# Check out your DataFrame `df`
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [40]:
# Define the new names of your columns
newcols = {
    'A': 'new_column_1', 
    'B': 'new_column_2', 
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

# when inplace is false this makes a new dataframe
#b = df.rename(columns=newcols, inplace=False)
#print(b)

# Rename your index
df.rename(index={1: 'a'})

   new_column_1  new_column_2  new_column_3
0             1             2             3
a             4             5             6
2             7             8             9

## Formatting your Data 
* How can you perform operations on your data?

## Replacing All Occurrences of a String in a DataFrame
* You can use the `replace()` command

In [41]:
df = pd.DataFrame(data=np.array([['OK', 'Perfect', 'Acceptable'], ['Awful', 'Awful', 'Perfect'], ['Acceptable', 'OK', 'Poor']]), columns=['Student1', 'Student2', 'Student3'])


# Study the DataFrame `df` first
print(df)

# Replace the strings by numerical values (0-4)
df.replace(['Awful', 'Poor', 'OK', 'Acceptable', 'Perfect'], [0, 1, 2, 3, 4], inplace=True) 

print(df)

     Student1 Student2    Student3
0          OK  Perfect  Acceptable
1       Awful    Awful     Perfect
2  Acceptable       OK        Poor
   Student1  Student2  Student3
0         2         4         3
1         0         0         4
2         3         2         1

##### When you have strange string combinations `regex` argument can help

In [42]:
df = pd.DataFrame(data=np.array([['OK', 'Perfect', 'Acceptable\n'],
                                 ['Awful', 'Awful', 'Perfect\n'],
                                 ['Acceptable', 'OK', 'Poor\n']]),
                  columns=['Student1', 'Student2', 'Student3'])

# Check out your DataFrame `df`
print(df)

# Replace strings by others with `regex`
df.replace({'\n': '<br>'}, regex=True, inplace=True)

print(df)

     Student1 Student2      Student3
0          OK  Perfect  Acceptable\n
1       Awful    Awful     Perfect\n
2  Acceptable       OK        Poor\n
     Student1 Student2        Student3
0          OK  Perfect  Acceptable<br>
1       Awful    Awful     Perfect<br>
2  Acceptable       OK        Poor<br>

#### Removing Parts From Strings in the Cells of Your DataFrame

In [43]:
df = pd.DataFrame(data=np.array([[1, 2, '+3b'],
                                 [4, 5, '-6B'],
                                 [2, 7, '+9A']]),
                  columns=['class', 'test', 'result'])

# Check out your DataFrame
print(df)

# Delete unwanted parts from the strings in the `result` column
df['result'] = df['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

# Check out the result again
df

  class test result
0     1    2    +3b
1     4    5    -6B
2     2    7    +9A

  class test result
0     1    2      3
1     4    5      6
2     2    7      9

* `map()` applys the lambda function over each element element-wise
* The function takes the string and strips the `+` or `-` on the left, and strips the `aAbBcC` from the right

#### Splitting Text in a Column into Multiple Columns

In [44]:
df = pd.DataFrame(data=np.array([[34,0,'23:44:55'],
                                 [22, 0, '66:77:88'],
                                 [19, 1, '43:68:05 56:34:12']]),
                  columns=['Age', 'PlusOne', 'Ticket'])

df

  Age PlusOne             Ticket
0  34       0           23:44:55
1  22       0           66:77:88
2  19       1  43:68:05 56:34:12

In [45]:
# Split out the two values in the third row
# Make it a Series
# Stack the values
ticket_series = df['Ticket'].str.split(' ').apply(pd.Series, 1).stack()

# Get rid of the stack:
# Drop the level to line up with the DataFrame
ticket_series.index = ticket_series.index.droplevel(-1)

# Make your series a dataframe 
ticketdf = pd.DataFrame(ticket_series)

ticketdf

          0
0  23:44:55
1  66:77:88
2  43:68:05
2  56:34:12

In [46]:
# Delete the `Ticket` column from your DataFrame
del df['Ticket']

# Join the ticket DataFrame to `df`
df = df.join(ticketdf)

# Check out the new `df`
df

  Age PlusOne         0
0  34       0  23:44:55
1  22       0  66:77:88
2  19       1  43:68:05
2  19       1  56:34:12

#### Applying Functions to Your Pandas DataFrame

In [47]:
#Makes the function
doubler = lambda x: x*2

In [48]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

# Study the `df` DataFrame
print(df)

# Apply the `doubler` function to the `A` DataFrame column
df['A'] = df['A'].apply(doubler)

print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
    A  B  C
0   2  2  3
1   8  5  6
2  14  8  9

* `apply()` applies the operation index or row-wise
* `applymap()` applies the operation element-wise

In [49]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

doubled_df = df.applymap(doubler)
print(doubled_df)

    A   B   C
0   2   4   6
1   8  10  12
2  14  16  18

## How to Create an Empty DataFrame

In [50]:
df = pd.DataFrame(np.nan, index=[0,1,2,3], columns=['A'])
print(df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

Previous case the DataFrame inferred that it was type float. 
* you can specify the datatype

In [51]:
df = pd.DataFrame(index=range(0,4),columns=['A'], dtype='float')
print(df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

## Reshaping Pandas DataFrames

### Pivotting Your DataFrame
* `pivot()` creates a new table out of an original one:
    * `values`: this argument allows you to specify which values of your original DataFrame you want to see in your pivot table.
    * `columns`: whatever you pass to this argument will become a column in your resulting table.
    * `index`: whatever you pass to this argument will become an index in your resulting table.

In [52]:
# Import pandas
import pandas as pd

# Create your DataFrame
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
        'price':[11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
        'testscore': [4, 3, 5, 7, 5, 8]})

print(products)

# Use `pivot()` to pivot the DataFrame
pivot_products = products.pivot(index='category', columns='store', values='price')

# Check out the result
pivot_products

        category    store   price  testscore
0       Cleaning  Walmart   11.42          4
1       Cleaning      Dia   23.50          3
2  Entertainment  Walmart   19.99          5
3  Entertainment     Fnac   15.95          7
4           Tech      Dia   55.75          5
5           Tech  Walmart  111.55          8

store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

If you don't specify what values you want you will get multiple columns

In [53]:
# Import the Pandas library
import pandas as pd

# Construct the DataFrame
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
                        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
                        'price':[11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
                        'testscore': [4, 3, 5, 7, 5, 8]})

# Use `pivot()` to pivot your DataFrame
pivot_products = products.pivot(index='category', columns='store')

# Check out the results
print(pivot_products)

               price                testscore
store            Dia   Fnac Walmart       Dia Fnac Walmart
category
Cleaning       23.50    NaN   11.42       3.0  NaN     4.0
Entertainment    NaN  15.95   19.99       NaN  7.0     5.0
Tech           55.75    NaN  111.55       5.0  NaN     8.0

If you canâ€™t ensure the uniqueness of your data, you will want to use the `pivot_table` method instead
* When you do this you can specify the aggregation function `aggfunc`

In [54]:
# Import the Pandas library
import pandas as pd

# Your DataFrame
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment',
                                      'Entertainment', 'Tech', 'Tech'],
                        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
                        'price':[11.42, 23.50, 19.99, 15.95, 19.99, 111.55],
                        'testscore': [4, 3, 5, 7, 5, 8]})

print(products)

# Pivot your `products` DataFrame with `pivot_table()`
pivot_products = products.pivot_table(index='category', columns='store', 
                                      values='price', aggfunc='mean')
 
pivot_products

        category    store   price  testscore
0       Cleaning  Walmart   11.42          4
1       Cleaning      Dia   23.50          3
2  Entertainment  Walmart   19.99          5
3  Entertainment     Fnac   15.95          7
4           Tech      Dia   19.99          5
5           Tech  Walmart  111.55          8

store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           19.99    NaN   111.55

### Reshaping DataFrames with `Melt()`
* Good when you have data with one or more columns that are identifier variables

In [55]:
# The `people` DataFrame
people = pd.DataFrame({'FirstName' : ['John', 'Jane'],
                       'LastName' : ['Doe', 'Austen'],
                       'BloodType' : ['A-', 'B+'],
                       'Weight' : [90, 64]})

print(people)

# Use `melt()` on the `people` DataFrame
print(pd.melt(people, id_vars=['FirstName', 'LastName'], var_name='measurements'))

  FirstName LastName BloodType  Weight
0      John      Doe        A-      90
1      Jane   Austen        B+      64
  FirstName LastName measurements value
0      John      Doe    BloodType    A-
1      Jane   Austen    BloodType    B+
2      John      Doe       Weight    90
3      Jane   Austen       Weight    64

## How To Iterate Over a Pandas DataFrame
* You can use a `for` loop in combinations with an `iterrows()`

In [56]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

for index, row in df.iterrows() :
    print(row['A'], row['B'])

1 2
4 5
7 8

* essentially goes through your DataFrame rows as (index, Series) as a tuple

## How to write your DataFrame

### CSV

In [57]:
import pandas as pd
df.to_csv('myDataFrame.csv', sep='\t', encoding='utf-8')

You can specify: 
* the deliminator as `sep`
* the encoding as `encoding`
* how nan is handled
You can read more  [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)

## Excel

In [58]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

There are many more options when dealing with excel files. You can read more about the options [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

More information about IO in Pandas can be read [here](http://pandas.pydata.org/pandas-docs/stable/io.html)

# What to do when you have "Big Data"?

 When you run machine learning analysis on "Big Data" you need to think about how the computer accesses the data
 * Your computer might have 32 GB of RAM, this is all the data you can keep in active memory

## <1 GB
* This is easy. Performance will never be an issue.
* You should just use **Pandas**

## 1 GB to 100 GB

There are 3 options: 
* Use parameter "chunksize" to load the file into Pandas dataframe
* Import the Data into Dask Dataframe
* Ingest data into PySpark Dataframe

## >100 GB

* Pandas can't work because of memory constraints
* You can use Spark however, there are not a lot of API's for connecting to secondary software. 
    * Generally you need to take data chunks and drop it in a Pandas DataFrame

I doubt that anyone in this class will use datasets >100 GBs. If you do you will need to look into this on your own.